.button
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 19px
    align-items: flex-end
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    width: 153px
    height: 32px
    left: 0px
    top: 0px
    background: $main-color
    border: none
    border-radius: 5px